h1 {
  font-family: var(--font-headlines);
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 46px;
}

h2 {
  font-family: var(--font-headlines);
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 23px;
}

p {
  font-family: var(--font-content);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}
