h1 {
  font-family: var(--font-headlines);
  font-style: normal;
  font-weight: 500;
}

h2 {
  font-family: var(--font-headlines);
  font-style: normal;
  font-weight: 700;
}

p {
  font-family: var(--font-text);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}
